.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1vw;
  width: 80vw;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #f4511c;
  border-radius: 0.5vw;
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);

  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  max-width: 80vw;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #f4511c;
}

.pace.pace-inactive {
  display: none;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0.5vw;
  content: attr(data-progress-text);
  font-family: 'Quicksand-Bold';
  font-weight: 100;
  font-size: 0.5vw;
  line-height: 1;
  text-align: right;
  color: #231f20;
}

@font-face {
    font-family: 'Quicksand-Bold';
    src:url('../fonts/Quicksand-Bold.ttf.woff') format('woff'),
        url('../fonts/Quicksand-Bold.ttf.svg#Quicksand-Bold') format('svg'),
        url('../fonts/Quicksand-Bold.ttf.eot'),
        url('../fonts/Quicksand-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}